.header {
    padding: 30px 65px 10px;
}

.body {
    padding: 8px 76px 49px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 24px;
    line-height: 100%;
    color: rgba(64, 92, 133, 1);
    font-weight: 400;
    margin-bottom: 29px;
}


.card {
    background: #fff;
    border-radius: 4px;
    width: 525px;
    box-shadow: 6px 12px 27px rgba(0, 0, 0, 0.12);
}

.input_wrapper {
    margin-bottom: 17px;
    width: 100%;
}

.checkbox_wrapper {
    align-self: flex-end;
    padding: 8px 0;

}

.button_wrapper {
    margin-top: 14px;
}

.error {
    color: #a94442;
}
