.box {
    display: flex;
    justify-content: space-between;
    gap: 90px;
    padding-bottom: 100px;
}

.inputContainer {
    width: 100%;
}

.button {
    background: transparent;
    display: flex;
    height: 41px;
    color: #262370;
    border: 1px solid #262370;
    border-radius: 6px;
    font-size: 24px;
    padding: 0 9px;
    cursor: pointer;
}
.button:hover {
    box-shadow: 4px 5px 6.5px 0px rgba(0, 0, 0, 0.08);
}
.button svg {
    min-width: 30px;
    min-height: 40px;
    margin-right: 4px;
}

.error {
    color: #a94442;
}
