.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 90px;
    padding-bottom: 100px;
}

.formRow {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.inputContainer {
    width: 100%;
}

.input {
    width: 100%;
    font-size: 24px;
    border: 1px solid #B0BBCB;
    border-radius: 6px;
    outline: none;
    padding: 6px 15px;
    line-height: 100%;
}

.button {
    background: transparent;
    display: flex;
    height: 41px;
    color: #262370;
    border: 1px solid #262370;
    border-radius: 6px;
    font-size: 24px;
    padding: 0 9px;
    cursor: pointer;
    white-space: nowrap;
}
.button:hover {
    box-shadow: 4px 5px 6.5px 0px rgba(0, 0, 0, 0.08);
}
.button svg {
    min-width: 30px;
    min-height: 40px;
    margin-right: 4px;
}

.error {
    color: #a94442;
}

/* Мобильная версия (меньше 640px) */
@media (max-width: 640px) {
    .box {
        flex-direction: column;
        gap: 20px;

        padding: 0 15px 50px 15px;
    }

    .formRow {
        order: 1;
        gap: 10px;
        width: 100%;
    }

    .logoutButton {
        order: 2;
        align-self: center;
        font-size: 18px;
        height: 36px;
        line-height: 36px;
        padding: 0 12px;
    }

    .logoutButton svg {
        min-width: 24px;
        min-height: 24px;
        margin-right: 6px;
    }

    .submitButton {
        font-size: 16px;
        height: 36px;
        padding: 0 32px;
        background: #262370;
        color: #fff;
        margin-bottom: 30px;
        flex-shrink: 0;
        line-height: 36px;
    }

    .input {
        font-size: 16px;
        padding: 8px 12px;
    }

    .inputContainer {
        flex-grow: 1;
    }

    .error {
        font-size: 12px;
        margin-top: 4px;
    }
}
