.box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 94px;
    margin-bottom: 32px;
    padding: 0 75px;
}

.h1 {
    font-size: 32px;
    font-weight: bold;
}

.logo {
    max-width: 100%;
}
